@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1, h2{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin-top: 0;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 300;
    margin: 10px;
}

h2, p{
    margin:0;
    padding: 2px;
}
